<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstoneProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div>
          logo
      </div>
      <nav>
          <a href="#">Home</a>
          <a href="#">News</a>
      </nav>
      <nav>
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: "delete" %>
          <%= current_user.name %>
        <% else %>
          <%= link_to "Log in", login_path%>
          <%= link_to "Register", new_users_path%>
        <% end %>
        <%= link_to "Write an article", new_articles_path%>
      <nav>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
